
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/*
!/var/tailwind/
/var/tailwind/*
!/var/tailwind/app.built.css
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/assets/vendor/
/public/assets/
###< symfony/asset-mapper ###

/public/uploads/*
!/public/uploads/raid-guides/
/deploy.config.ps1
